<ion-tabs>
    <ion-tab-bar class="toolbar-with-central-button" selectedTab="15418589" slot="bottom">
        <ion-tab-button class="central-button" tab="Tabs">
            <ion-icon name="add-circle">
            </ion-icon>
        </ion-tab-button>
        <ion-tab-button selected="false" tab="Profile_Tabs_Plugin">
            <ion-icon name="person">
            </ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="Info">
            <ion-icon name="alert">
            </ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>