.toolbar-with-central-button {
    margin-left: 10px;
    margin-right: 10px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    contain: unset;
    background-color: #F3F3F3;
    
    ion-tab-button:first-of-type {
        border-top-left-radius: 24px;
    }
    ion-tab-button:last-of-type {
        border-top-right-radius: 24px;
    }
    ion-tab-button {
        background-color: #F3F3F3;
        ion-icon {
            width: 50px;
            height: 50px;
        }
    }
    .central-button {
        width: 100px;
        height: 100px;
        position: relative;
        top: -30px;
        border-radius: 50%;
        max-width: 100px;
        --padding-start: 0px;
        --padding-end: 0px;
        --ripple-color: yellow;
        background-color: #FFFFFF;
        ion-icon {
            width: 100px;
            height: 100px;
        }
    }
}
