<ion-header>
    <ion-toolbar #j_31>
        <ion-buttons #j_32 slot="start">
            <ion-menu-button #j_33>
            </ion-menu-button>
        </ion-buttons>
        <ion-title #j_34>
            Your Point
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card #j_19>
        <ion-card-content #j_20>
            <ion-card-title #j_21>
            </ion-card-title>
            <ion-card-title #j_22>
                143,000
            </ion-card-title>
        </ion-card-content>
        <ion-grid #j_23>
            <ion-row #j_24>
                <ion-col #j_25>
                    <ion-button #j_26 expand="block">
                        Refresh
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row #j_27>
                <ion-col #j_28>
                    <ion-text #j_29>
                        Last refreshed: -
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>