<ion-header>
    <ion-toolbar #j_193 color="light">
        <ion-buttons #j_194 slot="start">
            <ion-back-button #j_195 icon="assets/images/left-arrow.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title #j_196 class="headtext abolition">
            POINTS HISTORY
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <div #j_186 class="container custom-margin">
        <div #j_187>
            <ion-text #j_188>
                TOTAL POINTS
            </ion-text>
        </div>
        <div #j_189>
            <ion-text #j_190 class="abolition totalPoints">
                {{ totalPoints }}
            </ion-text>
        </div>
    </div>
    <div #j_191 class="container">
        <ion-segment>
            <ion-segment-button value="POINTS HISTORY" checked>
                <ion-label>
                    POINTS HISTORY
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="POINTS EXPIRY">
                <ion-label>
                    POINTS EXPIRY
                </ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-content>