<ion-content color="tertiary" fullscreen="true">
    <div #j_222 class="heading">
        <ion-text #j_223 class="abolition headtext">
            PROFILE
            <br>
        </ion-text>
    </div>
    <div #j_224 class="pointbalance">
        <ion-grid #j_225>
            <ion-row #j_226>
                <ion-col #j_227 class="ion-text-center">
                    <ion-text #j_228 class="username">
                        {{__getMapping(currentItem, 'j_228__text', '', false)}}
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-text #j_229 class="abolition centertxt pointtxt p-10">
            {{ current_balance }}
        </ion-text>
        <ion-text #j_230 class="centertxt p-20 username">
            MYTANAMERA POINTS
        </ion-text>
    </div>
    <div #j_231 class="bodytop">
        <div #j_232 class="profstatus">
        </div>
        <div #j_233 class="profilemenu">
            <ion-text #j_234 class="profmenutxt abolition" (click)="settingsmenuClick__j_234($event, currentItem)">
                SETTINGS
            </ion-text>
        </div>
    </div>
</ion-content>