<ion-content color="light">
    <div #j_5 class="heading">
        <ion-img #j_6 src="assets/images/TC_MyTanamera_191109_R.png" alt="Image error" class="loginlogo">
        </ion-img>
    </div>
    <div #j_7 class="bodycont">
        <div #j_8 class="bodywrap">
            <ion-item #j_9__ion4Item class="inputtanamera">
                <ion-input #j_9 [(ngModel)]="email" name="Input9" placeholder="ENTER YOUR EMAIL"
                type="email" class="ion-input label nonpw">
                </ion-input>
            </ion-item>
            <ion-item #j_10__ion4Item class="inputtanamera">
                <ion-input #j_10 [(ngModel)]="password" name="Input8" placeholder="ENTER YOUR PASSWORD"
                type="password" class="inpw">
                </ion-input>
            </ion-item>
            <div #j_11 class="linebutton" (click)="html4Click__j_11($event, currentItem)">
                <ion-text #j_12 color="primary" class="linebuttontxt">
                    SIGN IN
                </ion-text>
            </div>
            <div #j_13 class="blockbutton" (click)="html5Click__j_13($event, currentItem)">
                <ion-text #j_14 class="linebuttontxt">
                    CREATE ACCOUNT
                </ion-text>
            </div>
            <div #j_15 class="blankbutton" (click)="html6Click__j_15($event, currentItem)">
                <ion-text #j_16 class="linebuttontxt">
                    FORGOT PASSWORD
                </ion-text>
            </div>
        </div>
    </div>
</ion-content>