.wrapper {
    position: absolute;
    width: 90%;
    top: 58%;
    left: 50%;
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.padding{
    padding: 17px;
}
.loginlogo {
    width: 250px;
    margin: auto;
}
.headspace {
    padding: 15% 0 10%;
}
.btnSignIn{
    border:none;
    letter-spacing: 3px;
    font-weight: 100;
    border: 1px solid #ED2F1F;
    color: #ED2F1F;
    margin-top: 20px;
}
.btnSignUp{
    border: none;
    margin-top: 10px;
}
.custom-link{
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    display: block;
    width: 100%;
}
.link-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #6b6b6b;
}
.ion-label{
    display: flex;
    padding: 8px;
}
