.margin{
    margin-top: 40px;
}
.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
#btnChangePassword{
    background: red;
    color: #fff;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    padding: 14px;
}
.clear-top-bottom{
    margin-bottom: 25px;
}
.alignment{
    margin-right: 35px;
}
