<ion-header>
</ion-header>
<ion-content color="light">
    <div #j_37 class="container margin">
        <ion-toolbar #j_38 color="light">
            <ion-buttons #j_39 slot="start">
                <ion-back-button #j_40 icon="assets/images/left-arrow.svg">
                </ion-back-button>
            </ion-buttons>
            <ion-title #j_41 class="abolition headtext alignment">
                CHANGE PASSWORD
            </ion-title>
        </ion-toolbar>
        <div #j_42 class="clear-top-bottom label">
            <ion-label #j_43>
                CURRENT PASSWORD
            </ion-label>
            <ion-item #j_44__ion4Item>
                <ion-input #j_44 [(ngModel)]="current_password" name="Input1" placeholder="ENTER CURRENT PASSWORD"
                type="password">
                </ion-input>
            </ion-item>
        </div>
        <div #j_45 class="clear-top-bottom label">
            <ion-text #j_46>
                NEW PASSWORD
            </ion-text>
            <ion-item #j_47__ion4Item>
                <ion-input #j_47 [(ngModel)]="new_password" name="Input2" placeholder="ENTER NEW PASSWORD"
                type="password">
                </ion-input>
            </ion-item>
        </div>
        <div #j_48 class="clear-top-bottom label">
            <ion-text #j_49>
                CONFIRM NEW PASSWORD
            </ion-text>
            <ion-item #j_50__ion4Item>
                <ion-input #j_50 [(ngModel)]="confirm_password" name="Input3" placeholder="RE-ENTER NEW PASSWORD"
                type="password">
                </ion-input>
            </ion-item>
        </div>
        <div #j_51 (click)="btnsavenewpasswordClick__j_51($event, currentItem)">
            <div id="btnChangePassword">
                SAVE CHANGES
            </div>
        </div>
    </div>
</ion-content>