<ion-header>
    <ion-toolbar #j_180 color="light">
        <ion-buttons #j_181 slot="start">
            <ion-back-button #j_182 icon="assets/images/left-arrow.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title #j_183 class="headtext abolition">
            Notification Settings
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <div #j_150 class="notification-wrapper">
        <ion-grid #j_151 class="container">
            <ion-row #j_152>
                <ion-col #j_153 size="10">
                    <ion-text #j_154>
                        POINT EXPIRY ALERT
                    </ion-text>
                </ion-col>
                <ion-col #j_155>
                    <ion-toggle #j_156 value="Toggle3_value" name="Toggle3">
                    </ion-toggle>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div #j_157 class="container">
            <hr class="line">
        </div>
        <ion-grid #j_158 class="container">
            <ion-row #j_159>
                <ion-col #j_160 size="10">
                    <ion-text #j_161>
                        NEARBY OUTLET ALERT
                    </ion-text>
                </ion-col>
                <ion-col #j_162>
                    <ion-toggle #j_163 value="Toggle3_value" name="Toggle3">
                    </ion-toggle>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div #j_164 class="container">
            <hr class="line">
        </div>
        <ion-grid #j_165 class="container">
            <ion-row #j_166>
                <ion-col #j_167 size="10">
                    <ion-text #j_168>
                        NEW INBOX ALERT
                    </ion-text>
                </ion-col>
                <ion-col #j_169>
                    <ion-toggle #j_170 value="Toggle3_value" name="Toggle3">
                    </ion-toggle>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div #j_171 class="container">
            <hr class="line">
        </div>
        <ion-grid #j_172 class="container">
            <ion-row #j_173>
                <ion-col #j_174 size="10">
                    <ion-text #j_175>
                        EMAIL NOTIFICATIONS
                    </ion-text>
                </ion-col>
                <ion-col #j_176>
                    <ion-toggle #j_177 value="Toggle3_value" name="Toggle3">
                    </ion-toggle>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div #j_178 class="container">
            <hr class="line">
        </div>
    </div>
</ion-content>