<ion-tabs>
    <ion-tab-bar class="tabtanamera" slot="bottom">
        <ion-tab-button class="tanameratabtxt" selected="false" tab="Home">
            <ion-icon name="home">
            </ion-icon>
            <ion-label>
                HOME
            </ion-label>
        </ion-tab-button>
        <ion-tab-button class="tanameratabtxt" tab="Outlets">
            <ion-icon name="business" src="assets/images/coffee-cup.svg">
            </ion-icon>
            <ion-label>
                OUTLETS
            </ion-label>
        </ion-tab-button>
        <ion-tab-button class="tanameratabtxt" tab="Profile_clone_1">
            <ion-icon name="person">
            </ion-icon>
            <ion-label>
                PROFILE
            </ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>