.tabtanamera {
    max-width:100% !important;
    background-color:#959595;
}
.tanameratabtxt {
    font-size: 8pt;
    background-color:#959595;
    color:#000;
}
.tanameratabtxt ion-icon.md.hydrated {
    width: 18px;
}
