.storeDetailContainer{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.storeImage {
    width: 100%;
    padding-bottom: 100%;
}

.line-by-line {
   white-space: pre-line;
}

#storeName{
    margin-top: -45px;
    padding-left: 20px;
    font-family: abolition;
    font-size: 30px;
    letter-spacing: 2px;
    color: #fff;
}
.clear-top-bottom{
    margin-top: 35px;
    margin-bottom: 35px;
}
.row{
    display: flex;
}
hr{
    border: 1px solid lightgrey;
    height: 0;
}
#paragraph{
    font-weight: 100;
    padding-right: 12px;
}
.phoneRow{
    margin-top: 15px;
}
.contact-wrapper{
    margin-top: 33px;
}
#phoneNumber{
   text-align: center;
   border: 2px solid red;
   color: red;
   padding: 10px;
}
#labelPhone{
   background: red;
   color: #fff;
   text-align: center;
   padding: 10px;
}
#addressColumn{
    width: 60%;
}

.viewMenuButtonWrapper{
    padding: 14px 0px;
}

#mapColumn{
    margin-top: -40px;
    width: 40%;
    padding: 15px;
}
iframe{
    width: 100%;
}
#locationDirection{
    color: red;
    display: flex;
    text-decoration: none;
}
#dialText{
    color: #fff;
    text-decoration: none;
}
.img-custom{
    width: 100%;
}
.viewMenuButton{
    border: 2px solid red;
    padding: 14px;
    width: 100%;
    text-decoration: none;
    color: red;
    text-align: center;
}

.backbtn{
    top:6%;
}
