<ion-content color="light">
    <div #j_95>
        <div class="storeImage" [ngStyle]="{ 'background-image': 'url(https://mytanamera.logix1.com/mytanamera/api/view_storedetail_photos/'+ store_id + '/1' + '?api_token='+ token +')', 'background-position': 'center center', 'background-size': 'cover' }">
        </div>
        <div id="storeName">
            {{ storeName }}
        </div>
        <div class="storeDetailContainer">
            <div class="row contact-wrapper">
                <ion-grid>
                    <ion-row>
                        <ion-col id="phoneNumber" size="8">
                            {{ phoneNumber }}
                        </ion-col>
                        <ion-col id="labelPhone">
                            <a href="tel:{{ phoneNumber }}" id="dialText">CALL</a>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <hr>
            <div class="clear-top-bottom">
                <div class="row">
                    <label>
                        HOURS
                    </label>
                </div>
                <p class="line-by-line">
                    {{operationHours}}
                </p>
            </div>
            <hr>
            <div class="clear-top-bottom">
                <div class="row">
                    <label>
                        ADDRESS
                    </label>
                </div>
                <div class="row">
                    <div id="addressColumn">
                        <p id="paragraph">
                            {{ address }}
                        </p>
                        <a href="http://maps.google.com/?q={{ address }}" id="locationDirection" target="_blank">GET DIRECTIONS</a>
                    </div>
                    <div id="mapColumn">
                        <iframe [src]="getMapUrl()" frameborder="0">
                        </iframe>
                    </div>
                </div>
            </div>
            <hr>
            <!--<img src="./assets/images/tanamera-promo-sample.png" alt="tanamera-promo-sample"
            class="img-custom clear-top-bottom" />
            -->
            <div class="row viewMenuButtonWrapper">
                <a href="https://mytanamera.logix1.com/mytanamera/api/view_store_menu/3690444000004360259?api_token={{ token }}"
                class="viewMenuButton">VIEW MENU</a>
            </div>
        </div>
    </div>
    <ion-img #j_96 src="assets/images/left-arrow-white.svg" alt="Image error" class="backbtn"
    (click)="backbtncomponentClick__j_96($event, currentItem)">
    </ion-img>
</ion-content>