// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
#main-content .ion-page-hidden {
    display: block !important;
    z-index: 80 !important;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.line{
    border: 1px solid lightgrey;
    height: 0;
}

.ion-page.can-go-back {
    bottom: 57px;
}

page-login.ion-page.can-go-back, page-forgot_-password.ion-page.can-go-back, page-register.ion-page.can-go-back {
    bottom: 0px;
}

.ion-page-hidden .tabs-inner {
    display: none !important;
}

.ion-page-hidden .tabtanamera {
    margin-top: auto;
}

@font-face {
         font-family: 'Abolition';
         src: url('../assets/fonts/Abolition-Round.otf');
         font-weight: normal;
         font-style: normal;
         }
         
@font-face {
         font-family: 'Aktiv';
         src: url('../assets/fonts/AktivGroteskEx-Bold.ttf');
         font-weight: normal;
         font-style: normal;
         }

@font-face {
         font-family: 'AktivReg';
         src: url('../assets/fonts/AktivGroteskEx-Regular.ttf');
         font-weight: normal;
         font-style: normal;
         }
         
         :root 
         {
         --ion-font-family: 'Aktiv';
         }

.pointtxt {
    font-size: 64px;
    background-image: url('../assets/images/pointsbcg2.png');
    line-height: 50px;
    padding-bottom: 21px !important;
}

.aktiv {
    font-family: 'Aktiv';
}
.inputtanamera {
    margin-bottom: 25px;
}
.label {
    font-size: 10pt;
    letter-spacing: 1px;
    color: #707070 !important;
}
.infolbl {
    font-family: AktivReg;
    font-size: 14pt;
    color: #707070;
}
.inplabel {
    font-size: 12pt;
    color: #000;
    letter-spacing: .96pt;
}
.inpw input.native-input.sc-ion-input-md {
    font-size: 10pt;
    letter-spacing: 1pt;
    color: #707070 !important;
}
.nonpw input.native-input.sc-ion-input-md {
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 1pt;
    color: #707070 !important;
}
.linebutton {
    border-width: 1px !important;
    border: #E80000 !important;
    border-style:solid !important;
    padding: 15px;
    margin-bottom: 25px;
}
.linebuttontxt {
    display: block;
    text-align: center;
    font-size: 10pt;
    letter-spacing: 1pt;
}
.blockbutton {
    background-color:#E80000;
    color: #ffffff !important;
    padding: 15px;
    margin-bottom: 25px;
}
.blankbutton {
    color: #707070 !important;
    padding: 15px;
    margin-bottom: 25px;
}
.abolition {
    font-family:'abolition';
}
.headtext {
    font-size: 28pt;
    text-align: center;
    display: block;
    letter-spacing:2.24pt;
    width:100%;
    
}
.centertxt {
    display: block;
    text-align: center;
}

.heading {
    height: 66px;
    display: flex;
    align-items: center;
    height: 15%;
}
.headerbcg {
    background: #3C3C3C;
}

.bodycont {
    align-items: center;
    height: 85%;
    position:relative;
}
.bodywrap {
    top: 50%;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    padding: 0 20px;
}
.bodytop{
    padding: 0 20px;
    width: 100%;
}
.bodysect {
    width: 100%;
    margin-bottom: 20px;
}
.logoheader {
    width: 50%;
    display: block;
    margin: auto;
}
.mailnotif {
    position: absolute;
    right: 10px;
    bottom: 33%;
    display:none;
}

.backbtn {
    position: absolute;
    left: 8px;
    z-index: 99;
    width: 32pt;
    padding: 5pt;
}

.header-md:after{
    display:none;
}

/** Ionic CSS Variables **/
:root {

  /** primary **/
  --ion-color-primary: #E80000;
  --ion-color-primary-rgb: 232,0,0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3C3C3C;
  --ion-color-secondary-rgb: 60,60,60;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #5F5F5F;
  --ion-color-secondary-tint: #898989;

  /** tertiary **/
  --ion-color-tertiary: #EDEDED;
  --ion-color-tertiary-rgb: 237,237,237;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #4C4C4C;
  --ion-color-tertiary-tint: #6F6F6F;

  /** success **/
  --ion-color-success: #E80000;
  --ion-color-success-rgb: 232,0,0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #ED2F1F;
  --ion-color-danger-rgb: 237,47,31;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ED2124;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


} 