.title{
    display: flex;
    justify-content: center;
    font-size:12pt;
    letter-spacing: .96pt;
}
.wrapper{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
