<ion-content color="tertiary">
    <div #j_56 class="heading">
        <ion-img #j_57 src="assets/images/TC_MyTanamera_191109_R.png" alt="Image error"
        class="logoheader">
        </ion-img>
        <ion-img #j_58 src="assets/images/left-arrow.svg" alt="Image error" class="backbtn"
        (click)="image2Click__j_58($event, currentItem)">
        </ion-img>
    </div>
    <div #j_59 class="bodycont">
        <div #j_60 class="bodywrap">
            <h1 #j_61 class="title">
                RESET PASSWORD
            </h1>
            <ion-item #j_62__ion4Item class="inputtanamera">
                <ion-input #j_62 [(ngModel)]="email" name="Input1" placeholder="ENTER YOUR EMAIL OR PHONE NUMBER"
                class="label nonpw">
                </ion-input>
            </ion-item>
            <div #j_63 class="blockbutton" (click)="html2Click__j_63($event, currentItem)">
                <ion-text #j_64 class="linebuttontxt">
                    RESET PASSWORD
                </ion-text>
            </div>
        </div>
    </div>
</ion-content>