.storewrapper {
    display: block;
    float: left;
    width: 46%;
    margin: 2%;
    position: relative;
}
.storehead {
    width: 100%;
    font-family: "abolition";
    font-size: 18pt;
    letter-spacing: 1.44pt;
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
