<ion-content color="light">
    <div #j_86 class="heading">
        <ion-toolbar #j_87 color="light" class="abolition headtext">
            <ion-title #j_88 class="abolition headtext myheadtitle">
                {{ region }}
            </ion-title>
        </ion-toolbar>
        <ion-img #j_89 src="assets/images/left-arrow.svg" alt="Image error" class="backbtn"
        (click)="image1Click__j_89($event, currentItem)">
        </ion-img>
    </div>
    <div #j_90>
        <div class="storewrapper" *ngFor="let store of stores" (click)="loadStoresId(store)">
            <div>
                <img src="https://mytanamera.logix1.com/mytanamera/api/view_store_image/{{ store.logix1_store_id }}?api_token={{ token }}"
                alt="" />
            </div>
            <div class="storehead">
                <div class="storetitle">
                    {{ store.store_label }}
                </div>
            </div>
        </div>
    </div>
</ion-content>