.cardRegion{
    border: none;
}
.regionContainer{
    padding: 14px;
    width: 90%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #ccc;
    color: #fff;
    height: 120px;
    font-size: 22px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 20pt;
    letter-spacing: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content {
    background: #c1c3b9;
}

.regwrap {
    width: 100%;
    padding: 0 20px;
    position: relative;
    margin-bottom: 20px;
}
.regtxt {
    font-family: "Abolition";
    position: absolute;
    bottom: 15px;
    left: 35px;
    color: #fff;
    font-size: 28pt;
    letter-spacing: 2.24pt;
}
