<ion-content class="content" color="light">
    <div #j_355 class="heading">
        <ion-text #j_356 class="abolition headtext">
            OUTLETS
        </ion-text>
    </div>
    <div #j_357>
        <div *ngFor="let region of regions" (click)="loadStores(region)" class="regwrap">
            <div class="regimg">
                <img src="https://mytanamera.logix1.com/mytanamera/api/view_region_image?region={{ region.region }}&api_token={{ token }}"
                alt="region" />
            </div>
            <div class="regtxt">
                {{ region.region }}
            </div>
        </div>
    </div>
</ion-content>