.centered{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.ion-label{
    display: flex;
    justify-content: center;
    padding: 12px;
}
.wrapperButton{
    margin-top: 25px;
}
.row{
    display: flex;
}
.infowrap {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}
.infotime {
    width: 30%;
}
.infotime ion-datetime.nonpw {
    font-size: 10pt;
    color: #707070;
    letter-spacing: 1pt;
}
