<ion-content color="tertiary">
    <div #j_240 class="heading">
        <ion-text #j_241 class="abolition headtext">
            EDIT INFO
        </ion-text>
        <ion-img #j_242 src="assets/images/left-arrow.svg" alt="Image error" class="backbtn"
        (click)="image1Click__j_242($event, currentItem)">
        </ion-img>
    </div>
    <div #j_243 class="bodycont">
        <div #j_244 class="bodytop">
            <ion-text #j_245 color="danger" class="ion-label">
                {{ message }}
            </ion-text>
            <span #j_246 class="infolbl">
                First Name
            </span>
            <ion-item #j_247__ion4Item class="inputtanamera">
                <ion-input #j_247 [(ngModel)]="first_name" name="Input4" placeholder="FIRST NAME"
                class="nonpw">
                </ion-input>
            </ion-item>
            <ion-text #j_248 class="infolbl">
                Last Name
            </ion-text>
            <ion-item #j_249__ion4Item class="inputtanamera">
                <ion-input #j_249 [(ngModel)]="sur_name" name="Input4" placeholder="LAST NAME" class="nonpw">
                </ion-input>
            </ion-item>
            <ion-text #j_250 class="infolbl">
                Email Address
            </ion-text>
            <ion-item #j_251__ion4Item class="inputtanamera">
                <ion-input #j_251 [(ngModel)]="email" name="Input4" placeholder="YOUR EMAIL" class="nonpw">
                </ion-input>
            </ion-item>
            <ion-text #j_252 class="infolbl">
                Mobile Number
            </ion-text>
            <ion-item #j_253__ion4Item class="inputtanamera">
                <ion-input #j_253 [(ngModel)]="phone_number" name="Input5" placeholder="YOUR PHONE NUMBER"
                type="tel" class="nonpw">
                </ion-input>
            </ion-item>
            <ion-text #j_254 class="infolbl">
                Birthday
            </ion-text>
            <div #j_255 class="nonpw">
                <div class="infowrap">
                    <div class="infodate infotime">
                        <ion-item>
                            <ion-datetime displayFormat="DD" class="nonpw" placeholder="DD" [(ngModel)]="date">
                            </ion-datetime>
                        </ion-item>
                    </div>
                    <div class="infomonth infotime">
                        <ion-item>
                            <ion-datetime displayFormat="MM" class="nonpw" placeholder="MM" [(ngModel)]="month">
                            </ion-datetime>
                        </ion-item>
                    </div>
                    <div class="infoyear infotime">
                        <ion-item>
                            <ion-datetime displayFormat="YYYY" class="nonpw" placeholder="YYYY" [(ngModel)]="year">
                            </ion-datetime>
                        </ion-item>
                    </div>
                </div>
            </div>
            <div #j_256 class="blockbutton wrapperButton" (click)="html2Click__j_256($event, currentItem)">
                <ion-text #j_257 class="linebuttontxt">
                    SAVE
                </ion-text>
            </div>
        </div>
    </div>
</ion-content>