<ion-content color="light">
    <div #j_262 class="heading">
        <ion-text #j_263 class="abolition headtext">
            CHANGE PASSWORD
        </ion-text>
        <ion-img #j_264 src="assets/images/left-arrow.svg" alt="Image error" class="backbtn"
        (click)="image1Click__j_264($event, currentItem)">
        </ion-img>
    </div>
    <div #j_265 class="bodycont">
        <div #j_266 class="bodytop">
            <div #j_267 class="bodysect label">
                <ion-label #j_268 class="inplabel">
                    CURRENT PASSWORD
                </ion-label>
                <ion-item #j_269__ion4Item>
                    <ion-input #j_269 [(ngModel)]="current_password" name="Input1" placeholder="ENTER CURRENT PASSWORD"
                    type="password" class="inpw">
                    </ion-input>
                </ion-item>
            </div>
            <div #j_270 class="bodysect  label">
                <ion-text #j_271 class="inplabel">
                    NEW PASSWORD
                </ion-text>
                <ion-item #j_272__ion4Item>
                    <ion-input #j_272 [(ngModel)]="new_password" name="Input2" placeholder="ENTER NEW PASSWORD"
                    type="password" class="inpw">
                    </ion-input>
                </ion-item>
            </div>
            <div #j_273 class="bodysect  label">
                <ion-text #j_274 class="inplabel">
                    CONFIRM NEW PASSWORD
                </ion-text>
                <ion-item #j_275__ion4Item>
                    <ion-input #j_275 [(ngModel)]="confirm_password" name="Input3" placeholder="RE-ENTER NEW PASSWORD"
                    type="password" class="inpw">
                    </ion-input>
                </ion-item>
            </div>
            <div #j_276 (click)="btnsavenewpasswordClick__j_276($event, currentItem)">
                <div id="btnChangePassword">
                    SAVE CHANGES
                </div>
            </div>
        </div>
    </div>
</ion-content>