.profileSaveBtn{
    color: #fff;
}
.profileSaveBtn:hover{
    background-color: #000000 !important;
}
.btn-native:hover{
    background-color: #000000 !important;
}

.p-10{
    padding: 10px;
}

.p-30{
    padding: 30px;
}

.p-20{
    padding: 20px;
}

.logOutBtn{
    text-align: center;
    color: white;
    font-weight: 100;
    margin: 0;
}

.menu-links{
    text-decoration: none;
    font-size: 22pt;
    color: #000;
}

.profmenuwrapper{
    margin-top: 1%;
}

.profilemenu {
    border-width: 1px 0px !important;
    border-color: black !important;
    margin: -1px 20px 0px 20px;
    border-style: solid;
}

.profmenutxt {
    display: block;
    text-align: center;
    padding: 15px 0px 20px 0px;
    font-size:30px;
    letter-spacing:3px;
}

