<ion-header class="myheader">
    <ion-toolbar #j_118 color="tertiary" class="myheadtool">
        <ion-icon #j_119 name="mail-unread" size="large" class="mailnotif">
        </ion-icon>
        <ion-title #j_120 class="abolition headtext myheadtitle">
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="tertiary" fullscreen="true">
    <div #j_100 class="heading">
    </div>
    <div #j_101 class="bodycont">
        <div #j_102 class="bodywrap">
            <ion-grid #j_103>
                <ion-row #j_104>
                    <ion-col #j_105 class="ion-text-center">
                        <ion-text #j_106 class="username">
                            {{__getMapping(currentItem, 'j_106__text', '', false)}}
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-text #j_107 class="abolition centertxt pointtxt p-10">
                {{ current_balance }}
            </ion-text>
            <ion-text #j_108 class="centertxt p-20">
                MYTANAMERA POINTS
            </ion-text>
            <div #j_109 class="profilemenu">
                <ion-text #j_110 class="profmenutxt abolition" (click)="text5Click__j_110($event, currentItem)">
                    POINTS HISTORY
                </ion-text>
            </div>
            <div #j_111 class="profilemenu">
                <ion-text #j_112 class="profmenutxt abolition">
                    ABOUT MY TANAMERA
                </ion-text>
            </div>
            <div #j_113 class="profilemenu">
                <ion-text #j_114 class="profmenutxt abolition" (click)="settingsmenuClick__j_114($event, currentItem)">
                    SETTINGS
                </ion-text>
            </div>
            <div #j_115 class="profilemenu">
                <ion-text #j_116 class="profmenutxt abolition">
                    FAQ
                </ion-text>
            </div>
        </div>
    </div>
</ion-content>