<ion-content color="light">
    <div #j_127 class="heading">
        <ion-text #j_128 class="abolition headtext">
            SETTINGS
        </ion-text>
        <ion-img #j_129 src="assets/images/left-arrow.svg" alt="Image error" class="backbtn"
        (click)="image1Click__j_129($event, currentItem)">
        </ion-img>
    </div>
    <div #j_130 class="bodycont">
        <div #j_131 class="bodytopp">
            <ion-grid #j_132 class="container">
                <ion-row #j_133>
                    <ion-col #j_134 size="8">
                        <div #j_135>
                            <div>
                                <div class="row">
                                    <p class="nama settingtxt">
                                        {{ firstName }}&nbsp;{{ surName }}
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="accountInfo settingtxt">
                                        {{ email }}
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="accountInf phoneNumberClass settingtxt">
                                        {{ phoneNumber }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col #j_136>
                        <div #j_137 class="editinfo" (click)="editinfolinkClick__j_137($event, currentItem)">
                            <div class="row">
                                <p style="color: red;">
                                    EDIT INFO
                                </p>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div #j_138 class="container">
                <hr>
            </div>
            <ion-grid #j_139 class="container">
                <ion-row #j_140>
                    <ion-col #j_141 size="10" class="changePassText" (click)="changepasslinkClick__j_141($event, currentItem)">
                        <ion-text #j_142 class="settingmenu">
                            CHANGE PASSWORD
                        </ion-text>
                    </ion-col>
                    <ion-col #j_143>
                        <ion-icon #j_144 name="arrow-forward" size="small" src="assets/images/right-arrow.svg">
                        </ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div #j_145 class="container">
                <hr>
            </div>
            <div #j_146 class="container" (click)="btnsignoutClick__j_146($event, currentItem)">
                <div id="btnSignOut">
                    LOG OUT
                </div>
            </div>
        </div>
    </div>
</ion-content>