.row{
    display: flex;
}
.displayFlex{
    display: flex;
}
.editInfoTxt{
    color: red;
}
.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
hr{
    border: 1px solid lightgrey;
    height: 0;
}
#btnSignOut{
    width: 100%;
    background: red;
    color: white;
    letter-spacing: 1px;
    padding: 16px;
    text-align: center;
    letter-spacing: 1pt;
    font-size: 10pt;
}
.uppercase-text{
    text-transform: uppercase;
}
.changePassText{
    font-size: 13px;
}
.phoneNumberClass{
    margin-top: -6px;
}
.alignment{
    margin-right: 33px;
}
.editinfo{
    font-size: 8pt;
    letter-spacing: .8pt;
}
p.nama {
    margin: 0px;
    text-transform: uppercase;
    font-family: "Aktiv";
    font-size: 12pt;
    letter-spacing: .96pt;
    margin-bottom:15px;
}
.settingtxt {
    font-family: "AktivReg";
    font-size: 14pt;
    margin: 0;
}
.editinfo p {
    margin: 3px 0px;
}
.settingmenu {
    text-transform: uppercase;
    font-family: "Aktiv";
    font-size: 12pt;
    letter-spacing: .96pt;
}
