<ion-content class="homecolor" color="secondary">
    <div #j_68 class="heading">
        <ion-img #j_69 src="assets/images/TC_MyTanamera_191109_R.png" alt="Image error"
        class="logoheader">
        </ion-img>
    </div>
    <div #j_70 class="bodycont">
        <div #j_71 class="bodytop">
            <ion-text #j_72 class="title">
                HELLO
            </ion-text>
            <ion-text #j_73 class="custname">
                {{__getMapping(currentItem, 'j_73__text', '', false)}}
            </ion-text>
            <ion-text #j_74 class="title">
                YOU HAVE
            </ion-text>
            <ion-grid #j_75 class="point-wrapper">
                <ion-row #j_76>
                    <ion-col #j_77>
                        <ion-text #j_78>
                            {{ balance }}
                        </ion-text>
                    </ion-col>
                    <ion-col #j_79>
                        <ion-text #j_80>
                            POINTS
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div #j_81 class="slidetanamera">
                <ion-slides loop="true" pager="true" [options]="slideOpts">
                    <ion-slide>
                        <div class="slide">
                            <img src="./assets/images/Slide-1.jpg" />
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <img src="./assets/images/Slide-2.jpg" />
                    </ion-slide>
                    <ion-slide>
                        <img src="./assets/images/Slide-3.jpg" />
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
    </div>
</ion-content>