.homepoints {
    display: block;
    text-align: right;
}
.point-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-align-right{
    text-align: right;
    display: block;
    width: 100%;
}
.text-align-left{
    text-align: left;
    display: block;
    width: 100%;
}
.p-2{
    padding: 6px;
}
.p-3{
    padding: 12px;
}
.text-white{
    color: #fff;
}
.points-title{
    font-size: 19px;
}
.subtitle{
    text-align:left;
    font-size: 16px;
}
.title{
    text-align:center;
    display: block;
    width:100%;
    font-size: 12pt;
    font-weight: 100;
    letter-spacing:.96pt;
}
.custname {
    display: block;
    text-align: center;
    font-size: xxx-large;
    padding: 0 0 20px 0px;
    font-family: Abolition;
    letter-spacing: 5px;
}
.homeslides{
    padding: 22px 0px;
}
.card{
    border:none;
}
.PointLabel{
    display: block;
    width: 100%;
    text-align:center;
}
.slidetanamera {
    width:90%;
    margin:auto;
    overflow: visible !important;

}
