<ion-header>
    <ion-toolbar #j_216>
        <ion-buttons #j_217 slot="start">
            <ion-back-button #j_218>
            </ion-back-button>
        </ion-buttons>
        <ion-title #j_219>
            Register as New Member
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <div #j_200 class="wrapper">
        <ion-item #j_201__ion4Item class="inputtanamera">
            <ion-input #j_201 [(ngModel)]="first_name" name="Input1" placeholder="FIRST NAME"
            class="label nonpw">
            </ion-input>
        </ion-item>
        <ion-item #j_202__ion4Item class="inputtanamera">
            <ion-input #j_202 [(ngModel)]="sur_name" name="Input2" placeholder="SURNAME" class="label nonpw">
            </ion-input>
        </ion-item>
        <ion-item #j_203__ion4Item class="inputtanamera">
            <ion-input #j_203 [(ngModel)]="email" name="Input4" placeholder="ENTER YOUR EMAIL"
            class="label nonpw">
            </ion-input>
        </ion-item>
        <ion-item #j_204__ion4Item class="inputtanamera">
            <ion-input #j_204 [(ngModel)]="password" name="Input10" placeholder="PASSWORD" type="password"
            class="label">
            </ion-input>
        </ion-item>
        <ion-item #j_205>
            <ion-label #j_205__ion4Label>
                Select Country
            </ion-label>
            <ion-select #j_206 name="SelectItemWrapper1" placeholder="Select" (ionChange)="select1IonChange__j_206($event, currentItem)"
            [(ngModel)]="selectedCountry">
                <ion-select-option #j_207 value="{{ Country.code }}" *ngFor="let Country of CountriesPhoneCode.objects">
                    {{ Country.name }}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-grid #j_208>
            <ion-row #j_209>
                <ion-col #j_210 size="6">
                    <ion-item #j_211__ion4Item>
                        <ion-input #j_211 [(ngModel)]="country_code" name="Input7" placeholder="e.g +62"
                        readonly="true" class="label">
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col #j_212 size="6">
                    <ion-item #j_213__ion4Item>
                        <ion-input #j_213 [(ngModel)]="phone_number" name="Input8" placeholder="PHONE NUMBER"
                        type="number" class="label" (keyup)="input8Keyup__j_213($event, currentItem)">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button #j_214 color="danger" expand="block" class="label" (click)="btnsignupClick__j_214($event, currentItem)">
            Register as New
        </ion-button>
    </div>
</ion-content>