.loginlogo {
    width: 250px;
    margin: auto;
}
.headspace {
    padding: 15% 0 10%;
}
.cardlogin {
    width: 70%;
    margin: auto;
    border: none;
}
.wrapper{
   position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.text-white{
    color: white;
}
