<ion-header>
    <ion-toolbar #j_330 color="light">
        <ion-buttons #j_331 slot="start">
            <ion-back-button #j_332 icon="assets/images/left-arrow.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title #j_333 class="abolition headtext">
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <ion-grid #j_286 class="container">
        <ion-row #j_287>
            <ion-col #j_288 size="8">
                <div #j_289>
                    <div>
                        <div class="row">
                            {{ firstName }}&nbsp;{{ surName }}
                        </div>
                        <div class="row">
                            {{ email }}
                        </div>
                        <div class="row">
                            {{ phoneNumber }}
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col #j_290 class="ion-text-end">
                <ion-text #j_291 class="editInfoTxt" (click)="editinfoClick__j_291($event, currentItem)">
                    EDIT INFO
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div #j_292 class="container">
        <hr>
    </div>
    <ion-grid #j_293 class="container">
        <ion-row #j_294>
            <ion-col #j_295 size="10">
                <ion-text #j_296>
                    REFER A FRIEND
                </ion-text>
            </ion-col>
            <ion-col #j_297>
                <ion-icon #j_298 name="arrow-forward" size="small" src="assets/images/right-arrow.svg">
                </ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div #j_299 class="container">
        <hr>
    </div>
    <ion-grid #j_300 class="container">
        <ion-row #j_301>
            <ion-col #j_302 size="10" (click)="notiflinkClick__j_302($event, currentItem)">
                <ion-text #j_303>
                    NOTIFICATIONS SETTINGS
                </ion-text>
            </ion-col>
            <ion-col #j_304>
                <ion-icon #j_305 name="arrow-forward" size="small" src="assets/images/right-arrow.svg">
                </ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div #j_306 class="container">
        <hr>
    </div>
    <ion-grid #j_307 class="container">
        <ion-row #j_308>
            <ion-col #j_309 size="10" (click)="changepasslinkClick__j_309($event, currentItem)">
                <ion-text #j_310>
                    CHANGE PASSWORD
                </ion-text>
            </ion-col>
            <ion-col #j_311>
                <ion-icon #j_312 name="arrow-forward" size="small" src="assets/images/right-arrow.svg">
                </ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div #j_313 class="container">
        <hr>
    </div>
    <ion-grid #j_314 class="container">
        <ion-row #j_315>
            <ion-col #j_316 size="10">
                <ion-text #j_317>
                    PRIVACY POLICY
                </ion-text>
            </ion-col>
            <ion-col #j_318>
                <ion-icon #j_319 name="arrow-forward" size="small" src="assets/images/right-arrow.svg">
                </ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div #j_320 class="container">
        <hr>
    </div>
    <ion-grid #j_321 class="container">
        <ion-row #j_322>
            <ion-col #j_323 size="10">
                <ion-text #j_324>
                    CONTACT US
                </ion-text>
            </ion-col>
            <ion-col #j_325>
                <ion-icon #j_326 name="arrow-forward" size="small" src="assets/images/right-arrow.svg">
                </ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div #j_327 class="container">
        <hr>
    </div>
    <div #j_328 class="container" (click)="btnsignoutClick__j_328($event, currentItem)">
        <div id="btnSignOut">
            LOG OUT
        </div>
    </div>
</ion-content>