.row{
    display: flex;
}
.editInfoTxt{
    color: red;
}
.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
hr{
    border: 1px solid lightgrey;
    height: 0;
}
#btnSignOut{
    width: 100%;
    background: red;
    color: white;
    letter-spacing: 1px;
    padding: 16px;
    text-align: center;
    letter-spacing: 1px;
}
